{% extends 'base.html.twig' %}

{% block title %}Nouveau Formation{% endblock %}

{% block body %}
    <h1>Creer Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('app_formation_index') }}">retour list</a>
{% endblock %}
