{% extends 'base.html.twig' %}

{% block title %}Nouveau Candidat{% endblock %}

{% block body %}
    <h1>Creer Candidat</h1>

    {{ include('candidat/_form.html.twig') }}

    <a href="{{ path('app_candidat_index') }}">retour liste </a>
{% endblock %}
