{% extends 'base.html.twig' %}

{% block title %}Nouveau Salle{% endblock %}

{% block body %}
    <h1>Creer Salle</h1>

    {{ include('salle/_form.html.twig') }}

    <a href="{{ path('app_salle_index') }}">retour list</a>
{% endblock %}
