{% extends 'base.html.twig' %}

{% block title %}Nouveau OrganismeFormation{% endblock %}

{% block body %}
    <h1>Creer Organisme Formation</h1>

    {{ include('organisme_formation/_form.html.twig') }}

    <a href="{{ path('app_organisme_formation_index') }}">retour list</a>
{% endblock %}
